/* Global Styles */
img {
    display: block;
    margin: 0 auto;
    width: 95%;
    border: #F29E6D 4px solid;
    }
/* Global Body */
/* Global INTRO VIDEO - OCEAN2160.mp4 */
video {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
/* Global Container */
#container {
    display: flex;
    padding: 10px;
    background-color:#ff0000;
}
#lower {
    padding: 10px;
    width: 98%;
}
#column1 {
    flex: 1;
    color:#ff0000;
    background-color: #0d6102;
    border: 1px solid #a76565;
    width: 33.33%;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: center;
}
#column2 {
    flex: 1;
    color:#ffffff;
    background-color: #3f613a;
    padding: 10px;
    border: 1px solid #a76565;
    width: 33.33%;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
}
#column3 {
    flex: 1;
    color:#b31791;
    background-color: #0d6102;
    padding: 10px;
    border: 1px solid #a76565;
    width: 33.33%;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
}
#top {
    flex: 1;
    color:#eeff00;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
}
#welcome {
    flex: 1;
    color:#ff0000;
    background-color: #9e6a6a;
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
    background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/CatoosaAdventure.jpg);
    background-size: contain;
}
main img {
    margin: auto;
    width: 40%;
    height: auto;
    border-radius: 40px;
}
/* Global  Headings H1 H2 H3 */
h1,h2,h3 {
    text-align: center;
}
h1 {
    color:#ffffff;
}
h2 {
    color:#ffffff;
}
h3 {
    color:#ffffff;
}
p {
    color:#ffffff;
    font-size: 16px;
    text-align: center;
}
/* Global  Hyperlinks */
a {
    color:#0d6102;
    padding: 2px;
    text-align: center;
}
/* Global  Hyperlink colors */
a:hover {
    color: red;
    text-decoration: none;
}
footer {
    padding: 40px 0;
    text-align: center;
    color: #ffffff;
}

/* Mobile Styles */

nav {
    display: flex;
    margin: 20% 1;
}
/* Mobile Nav UL */
nav ul {
    list-style: none;
    padding: 1;
    margin: auto;
}
/* Mobile Nav LIST */
nav li {
    display: inline-block;
}
/* Mobile Nav LIST Hyperlinks */
nav li a {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}
/* Mobile Nav LIST Hyperlink Hover color */
nav li a:hover {
    color: #ff0000;
    background-color: #ffee00;
}
.button {
    display: block;
    margin: 5px auto;
    text-align: center;
    background-color: rgb(234, 132, 38);
    width: 125px;
    height: 60px;
    line-height: 20px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-size: larger;
}
hr {
    width: 100%;
    height: 2px;
}



/* MEDIA Desktop PCs CSS CODING STARTS HERE - ANYTHING UNDER THIS MEDIA LINE WILL BE DISPLAYED ON DEVICES WITH A MINIMUM WIDTH RESOLUTION OF 1024px */
@media (min-width: 1024px) {
    
    body {
        background-color: #000000;
    }
/* Desktop lower three columns */
   #lower {
    margin: 10px auto;
    display: flex;
    width: 90%;
    }
    .container {
    display: flex;
    background-color: #000;
    }
    #column1 {
        flex: 1;
        color:#ff0000;
        background-color: #0d6102;
        border: 1px solid #a76565;
        width: 33.33%;
        margin: 10px;
        padding: 10px 10px;
        border-radius: 30px;
        text-align: center;
    }
    #column2 {
        flex: 1;
        color:#ffffff;
        background-color: #3f613a;
        padding: 10px;
        border: 1px solid #a76565;
        width: 33.33%;
        margin: 10px;
        border-radius: 30px;
        text-align: center;
    }
    #column3 {
        flex: 1;
        color:#b31791;
        background-color: #0d6102;
        padding: 10px;
        border: 1px solid #a76565;
        width: 33.33%;
        margin: 10px;
        border-radius: 30px;
        text-align: center;
    }
    .column1 {
    display: flex;
    background-color: #00f7ff;
    width: 99%;
    }
    .column2 {
    display: flex;
    background-color: #00ff40;
    width: 99%;
    }
    .column3 {
    display: flex;
    background-color: #ffa600;
    width: 99%;
    }
    .lower {
        display: flex;
        background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/TravelingLoveRamTough.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: scroll;
        width:100%;
        }
    .top {
        background-color: #62a578;
    }