/* Global Mobile Styles */
main {
    margin-left: auto;  
    margin-right: auto;
    width: 95%;
    height: 95%;
    background-color: #000000;
    padding: 10px;
}
/* Global Mobile Styles */
main > .welcome {
    margin: auto;
    padding: 1px;
    height: 95%;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}
/* Global Mobile Styles */
main img {
    border: 10px solid #9e6a6a;
    margin: 2px;
    border-radius: 90px;
    width: 90%;
    height: 50%;
}
/* Global Mobile Styles */
.container {
    display: block;
    padding: 1px;
    height: 95%;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}
/* Global Mobile Styles */
.col {
    border: 0px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 10px 10px;
    display: block;
    width:98%;
    height: 95%;
}
/* Global Mobile Styles */
.top {
    display: block;
    color:#131212;
    background-color: #000000;
    border: 1px solid #000000;
    text-align: center;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 10px 10px;
}
/* Global Mobile Styles */
body {
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    width: 95%;
}
/* Global Mobile Styles */
nav {
    background-color: #000000;
    padding: 1px 0;
}
/* Global Mobile Styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #000000;
}
/* Global Mobile Styles */
nav li {
    display:block;
}
/* Global Mobile Styles */
nav li a {
    display: block;
    height: 20px;
    line-height: 30px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin: 5px 0;
    font-size: 18px;
    text-decoration: none;
}
/* Global Mobile Styles */
nav li a:hover {
    color: #000000;
    background-color: #ffffff;
}
/* Global Mobile Styles */
ul {
    padding: 5px;
    text-align: left;
    font-size: 16px;
}
/* Global Mobile Styles */
li {
    padding: 5px;
}
/* Global Mobile Styles */
img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    width: 95%;
    }
/* Global INTRO VIDEO - OCEAN2160.mp4 */
video {
    display:block;
    width: 95%;
    height: 80px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #000000;
    border-radius: 0%;
}
/* Global Mobile Styles */
#container {
    display: block;
    padding: 1px 2px;
    height: 95%;
    width: 95%;
    border: 10px solid #9e6a6a;
    margin-left:auto;
    margin-right:auto;
}
.iframe-container {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .iframe-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
/* Global Mobile Styles */
#welcome {
    padding: 2px;
    text-align: center;
    background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/CatoosaAdventure2.jpg);
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    width: 95%;
}
/* Global Mobile Styles */
#resources {
    color:#000000;
    background-color: #2e9c3d;
    border: 0px solid #9e6a6a;
    height: 25%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 20px;
    border-radius: 10px;
    text-align: center;
}
#column1 {
    color:#000000;
    background-color: #155e12;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 1px;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#column2 {
    color:#ff0000;
    background-color: #6696E0;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 1px;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#column3 {
    color:#ff0000;
    background-color: #854158;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 0;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#column4 {
    color:#ff0000;
    background-color: #155e12;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 0;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#column5 {
    color:#ff0000;
    background-color: #6696E0;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 0;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#column6 {
    color:#ff0000;
    background-color: #854158;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 0;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#top {
    display: block;
    color:#000000;
    background-color: #000000;
    border: 1px solid #000000;
    text-align: center;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 10px 10px;
}
/* Global  Headings H1 H2 H3 */
h1,h2,h3 {
    text-align: center;
}
/* Global Mobile Styles */
h1 {
    color:#ffffff;
    color:#ffffff;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}
/* Global Mobile Styles */
h2 {
    color:#ffffff;
    font-size: 24px;
}
/* Global Mobile Styles */
h3 {
    color:#ffffff;
}
/* Global Mobile Styles */
p {
    color:#ffffff;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}
/* Global Mobile Styles */
a {
    color:#000000;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
/* Global Mobile Styles */
a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
/* Global Mobile Styles */
footer {
    padding: 40px 0;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
/* Global Mobile Styles */
.button {
    display: block;
    margin: 5px auto;
    text-align: center;
    background-color: rgb(234, 132, 38);
    width: 95%;
    line-height: 20px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
}
.button2 {
    display: block;
    margin: 5px auto;
    background-color: #F2EC91;
    line-height: 20px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
}
/* Global Mobile Styles */
hr {
    width: 95%;
    height: 2px;
}








/* MEDIA Tablet Size CSS CODING STARTS HERE - ANYTHING UNDER THIS MEDIA LINE WILL BE DISPLAYED ON DEVICES WITH A MINIMUM WIDTH RESOLUTION OF 786px */
@media (min-width:768px) {

    main {
        background-color:  #A66F6A;
    }

    main img {
        border: 14px solid  #260101;
        border-radius: 30px;
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 50%;
    }
    video {
        display:block;
        width: 100%;
        height: 60px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000000;
        border-radius: 30%;
    }
    body {
        background-color:  #260101;
    }
    ul {
        padding: 15px;
        text-align: left;
        font-size: 24px;
    }
    /* Global Mobile Styles */
    li {
        padding: 5px;
        font-size: 24px;
    }
    nav {
        background-color: #000000;
        padding: 1px 0;
    }
    /* Global Mobile Styles */
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #260101;
    }
    /* Global Mobile Styles */
    nav li {
        display:inline-block;
    }
    /* Global Mobile Styles */
    nav li a {
        display: block;
        height: 20px;
        line-height: 24px;
        color: #ffffff;
        background-color: #260101;
        text-align: center;
        margin: 10px 20px;
        font-size: 18px;
        text-decoration: none;
    }
    /* Global Mobile Styles */
    nav li a:hover {
        color: #000000;
        background-color: #F2EC91;
    }
    .top {
        display: block;
        color:#ff0000;
        background-color: #ff0000;
        border: 1px solid #ff0000;
        text-align: center;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        margin-bottom: 10px;
        padding: 10px 10px;
    }
    #column1 {
        color:#000000;
        background-color: #403C01;
        border: 10px solid #A66F6A;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 1px;
        border-radius: 30px;
        text-align: center;
    }
    /* Global Mobile Styles */
    #column2 {
        color:#ff0000;
        background-color: #6696E0;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 1px;
        border-radius: 30px;
        text-align: center;
    }
    /* Global Mobile Styles */
    #column3 {
        color:#ff0000;
        background-color: #854158;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    /* Global Mobile Styles */
    #column4 {
        color:#ff0000;
        background-color: #155e12;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    /* Global Mobile Styles */
    #column5 {
        color:#ff0000;
        background-color: #6696E0;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    /* Global Mobile Styles */
    #column6 {
        color:#ff0000;
        background-color: #854158;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    #resources {
        color:#000000;
        background-color: #A66F6A;
        border: 0px solid #9e6a6a;
        height: 25%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1px;
        margin-bottom: 5px;
        padding-left: 20px;
        border-radius: 10px;
        text-align: center;
    }
    .button {
        margin: 5px auto;
        text-align: center;
        background-color: #F2EC91;
        width: 75%;
        line-height: 32px;
        text-decoration: none;
        border: 2px solid black;
        border-radius: 20px;
        font-weight: bold;
        font-size: 32px;
    }
    .button2 {
        margin: 5px auto;
        text-align: center;
        background-color: #F2EC91;
        width: 80%;
        line-height: 32px;
        text-decoration: none;
        border: 2px solid black;
        border-radius: 10px;
        font-weight: bold;
        font-size: 24px;
        padding: 10px;
    }
    p {
        font-size: 22px;
    }
    a {
        font-size: 22px;
        text-align: center;
    }


/* MEDIA Desktop Size CSS CODING STARTS HERE - ANYTHING UNDER THIS MEDIA LINE WILL BE DISPLAYED ON DEVICES WITH A MINIMUM WIDTH RESOLUTION OF 786px */
@media (min-width: 1024px) {

    main {
        background-color: #000000;
    }

    main img {
        border: 14px solid #9e6a6a;
        border-radius: 90px;
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 30%;
    }
        /*  Desktop Body */
    body {
        background-color: #000000;
    }
        /*  Desktop Navigation Menu */
    nav {
        display: inline-block;
        background-color: #000000;
        width: 100%;
        margin: 0 auto;
    }
    nav ul {
        background-color: #000000;
    }
    /*  Desktop Nav Lists */
    nav li {
        display: inline-block;
        padding: 5px;
    }
    /* Desktop Nav LIST Hyperlinks */
    nav li a {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        color: #ffffff;
        background-color: #000000;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        padding: 5px;
    }
    /* Desktop Nav LIST Hyperlink Hover color */
    nav li a:hover {
        color: #000000;
        background-color: #ffffff;
    }
        /* Global INTRO VIDEO - OCEAN2160.mp4 */
        video {
            display:block;
            width: 99%;
            height: 150px;
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid #000000;
            border-radius: 0%;
        }
        .button {
            margin: 5px auto;
            text-align: center;
            background-color: rgb(234, 132, 38);
            width: 75%;
            line-height: 32px;
            text-decoration: none;
            border: 2px solid black;
            border-radius: 20px;
            font-weight: bold;
            font-size: 32px;
        }
        .button2 {
            margin: 5px auto;
            text-align: center;
            background-color: rgb(234, 132, 38);
            width: 75%;
            line-height: 32px;
            text-decoration: none;
            border: 2px solid black;
            border-radius: 20px;
            font-weight: bold;
            font-size: 32px;
        }
        header h1 {
            font-size: 48px;
        }
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 32px;
        }
        p {
            font-size: 24px;
            padding: 10px;
        }
        footer {
            font-size: 22px;
        }
        #lower {
            display: flex;
            background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/Catoosa3.jpg);
            background-origin: content-box;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
            height: auto;
        }
        #lower2 {
            display: flex;
            background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/TravelingLoveRamTough.jpg);
            background-origin: content-box;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
            height: auto;
        }
        #resources {
            color:#000000;
            background-color: #2e9c3d;
            height: 10%;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1px;
            margin-bottom: 1px;
            padding: 30px;
            border-radius: 80px;
        }
        #column1 {
            width: 25%;
        }
        #column2 {
            width: 25%;
        }
        #column3 {
            width: 25%;
        }
        #column4 {
            width: 25%;
            background-color: #854158;
        }
        #column5 {
            width: 25%;
        }
        #column6 {
            width: 25%;
            background-color: #155e12;
        }
        ul {
            text-align: center;
            font-size: 12px;
        }
        li {
        margin: 10px 0;
        font-size: 24px;
        margin: auto;
        }
        hr {
            width: 100%;
            height: 2px;
        }
}