/* Global Mobile Styles */
main {
    margin-left: auto;  
    margin-right: auto;
    width: 95%;
    height: 95%;
    background-color: #000000;
}
/* Global Mobile Styles */
main > .welcome {
    margin: auto;
    padding: 1px;
    height: 95%;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}
/* Global Mobile Styles */
main img {
    border: 10px solid #9e6a6a;
    margin: 2px;
    border-radius: 90px;
    width: 90%;
    height: 50%;
}
/* Global Mobile Styles */
.container {
    display: block;
    padding: 1px;
    height: 95%;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}
/* Global Mobile Styles */
.col {
    border: 0px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 10px 10px;
    display: block;
    width:98%;
    height: 95%;
}
/* Global Mobile Styles */
.top {
    display: block;
    color:#000000;
    background-color: #000000;
    border: 1px solid #000000;
    text-align: center;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 10px 10px;
}
/* Global Mobile Styles */
body {
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    width: 95%;
}
/* Global Mobile Styles */
nav {
    background-color: #000000;
    padding: 1px 0;
}
/* Global Mobile Styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #000000;
}
/* Global Mobile Styles */
nav li {
    display:block;
}
/* Global Mobile Styles */
nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    text-decoration: none;
}
/* Global Mobile Styles */
nav li a:hover {
    color: #000000;
    background-color: #ffffff;
}
/* Global Mobile Styles */
ul {
    padding: 5px;
    text-align: left;
}
/* Global Mobile Styles */
li {
    padding: 5px;
}
/* Global Mobile Styles */
img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    width: 95%;
    }
/* Global INTRO VIDEO - OCEAN2160.mp4 */
video {
    display:block;
    width: 95%;
    height: 100px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #000000;
    border-radius: 0%;
}
/* Global Mobile Styles */
#container {
    display: block;
    padding: 1px 2px;
    height: 95%;
    width: 95%;
    border: 10px solid #9e6a6a;
    margin-left:auto;
    margin-right:auto;
}
/* Global Mobile Styles */
#welcome {
    padding: 2px;
    text-align: center;
    background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/CatoosaAdventure2.jpg);
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    width: 95%;
}
/* Global Mobile Styles */
#column1 {
    color:#000000;
    background-color: #CFC1D6;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 1px;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#column2 {
    color:#ff0000;
    background-color: #6696E0;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 1px;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#column3 {
    color:#ff0000;
    background-color: #854158;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 0;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#column4 {
    color:#ff0000;
    background-color: #CFC1D6;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 0;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#column5 {
    color:#ff0000;
    background-color: #6696E0;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 0;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#column6 {
    color:#ff0000;
    background-color: #854158;
    border: 10px solid #9e6a6a;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 0;
    border-radius: 30px;
    text-align: center;
}
/* Global Mobile Styles */
#top {
    display: block;
    color:#000000;
    background-color: #000000;
    border: 1px solid #000000;
    text-align: center;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 10px 10px;
}
/* Global  Headings H1 H2 H3 */
h1,h2,h3 {
    text-align: center;
}
/* Global Mobile Styles */
h1 {
    color:#ffffff;
    color:#ffffff;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
/* Global Mobile Styles */
h2 {
    color:#ffffff;
}
/* Global Mobile Styles */
h3 {
    color:#ffffff;
}
/* Global Mobile Styles */
p {
    color:#ffffff;
    font-size: 32px;
    text-align: center;
}
/* Global Mobile Styles */
a {
    color:#000000;
    padding: 2px;
    text-align: center;
    text-decoration: none;
}
/* Global Mobile Styles */
a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
/* Global Mobile Styles */
footer {
    padding: 40px 0;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}
/* Global Mobile Styles */
.button {
    display: block;
    margin: 5px auto;
    text-align: center;
    background-color: rgb(234, 132, 38);
    width: 75%;
    line-height: 40px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-size: x-large;
}
/* Global Mobile Styles */
hr {
    width: 95%;
    height: 2px;
}







/* MEDIA Tablet Size CSS CODING STARTS HERE - ANYTHING UNDER THIS MEDIA LINE WILL BE DISPLAYED ON DEVICES WITH A MINIMUM WIDTH RESOLUTION OF 786px */
@media (min-width: 768px) {

    main {
        background-color: #000000;
    }
    /* MEDIA Tablet Size 786px */
    main img {
        border: 20px solid #9e6a6a;
        margin: 2px;
        border-radius: 90px;
        width: 35%;
        height: 35%;
    }
    /* MEDIA Tablet Size 786px */
    .container {
        display: block;
        padding: 1px;
        height: 95%;
        width: 95%;
        margin-left:auto;
        margin-right:auto;
    }
    /* MEDIA Tablet Size 786px */
    .col {
        display: block;
        border: 0px solid black;
        margin: 0 auto;
        padding: 10px 10px;
        width:98%;
        height: 95%;
    }
    /* MEDIA Tablet Size 786px */
    .welcome {
    display: flex;
}
/* MEDIA Tablet Size 786px */
    .top {
        display: block;
        color:#000000;
        background-color: #000000;
        border: 1px solid #000000;
        text-align: center;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        margin-bottom: 10px;
        padding: 10px 10px;
    }
    /* MEDIA Tablet Size 786px */
    body {
        background-color: #000000;
        margin-left: auto;
        margin-right: auto;
        height: 95%;
        width: 95%;
    }
    /* MEDIA Tablet Size 786px */
    nav {
        background-color: #000000;
        padding: 1px 0;
    }
    /* MEDIA Tablet Size 786px */
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #000000;
    }
    /* MEDIA Tablet Size 786px */
    nav li {
        display:block;
    }
/* MEDIA Tablet Size 786px */
    nav li a {
        display: block;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        background-color: #000000;
        text-align: center;
        margin: 5px 0;
        font-size: 20px;
        text-decoration: none;
    }
/* MEDIA Tablet Size 786px */
    nav li a:hover {
        color: #000000;
        background-color: #ffffff;
    }
    ul {
        padding: 5px;
        text-align: left;
    }
    li {
        padding: 5px;
    }
    img {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        height: 95%;
        width: 95%;
        }
/* MEDIA Tablet Size 786px */
    video {
        display:block;
        width: 95%;
        height: 100px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000000;
        border-radius: 0%;
    }
/* MEDIA Tablet Size 786px */
    #container {
        display: block;
        padding: 1px 2px;
        height: 95%;
        width: 95%;
        border: 10px solid #9e6a6a;
        margin-left:auto;
        margin-right:auto;
    }
    /* MEDIA Tablet Size 786px */
    #welcome {
        padding: 2px;
        text-align: center;
        background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/CatoosaAdventure2.jpg);
        background-origin: content-box;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        height: 95%;
        width: 95%;
    }
    /* MEDIA Tablet Size 786px */
    #lower {
        display: flex;
        margin: 10px auto;
        width: 95%;
    }
    /* MEDIA Tablet Size 786px */
    #column1 {
        display: flex;
        color:#000000;
        background-color: #CFC1D6;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 1px;
        border-radius: 30px;
        text-align: center;
    }
    /* MEDIA Tablet Size 786px */
    #column2 {
        display: flex;
        color:#ff0000;
        background-color: #6696E0;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 1px;
        border-radius: 30px;
        text-align: center;
    }
    /* MEDIA Tablet Size 786px */
    #column3 {
        color:#ff0000;
        display: flex;
        background-color: #854158;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    /* MEDIA Tablet Size 786px */
    #column4 {
        color:#ff0000;
        display: flex;
        background-color: #CFC1D6;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    /* MEDIA Tablet Size 786px */
    #column5 {
        color:#ff0000;
        display: flex;
        background-color: #6696E0;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    /* MEDIA Tablet Size 786px */
    #column6 {
        display: flex;
        color:#ff0000;
        background-color: #854158;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    /* MEDIA Tablet Size 786px */
    #top {
        display: block;
        color:#000000;
        background-color: #000000;
        border: 1px solid #000000;
        text-align: center;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        margin-bottom: 10px;
        padding: 10px 10px;
    }
/* MEDIA Tablet Size 786px */
    h1,h2,h3 {
        text-align: center;
          }
          /* MEDIA Tablet Size 786px */
    h1 {
        color:#ffffff;
        color:#ffffff;
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 68px;
    }
    /* MEDIA Tablet Size 786px */
    h2 {
        color:#ffffff;
        font-size: 48px;
    }
    /* MEDIA Tablet Size 786px */
    h3 {
        color:#ffffff;
    }
    /* MEDIA Tablet Size 786px */
    p {
        color:#ffffff;
        font-size: 32px;
        text-align: center;
    }
    /* MEDIA Tablet Size 786px */
    a {
        color:#000000;
        padding: 2px;
        text-align: center;
        text-decoration: none;
    }
    /* MEDIA Tablet Size 786px */
    a:hover {
        color: rgb(255, 0, 0);
        text-decoration: none;
    }
    /* MEDIA Tablet Size 786px */
    footer {
        padding: 40px 0;
        text-align: center;
        color: #ffffff;
        font-size: 12px;
    }
    /* MEDIA Tablet Size 786px */
    .button {
        display: block;
        margin: 5px auto;
        text-align: center;
        background-color: rgb(234, 132, 38);
        width: 75%;
        line-height: 40px;
        text-decoration: none;
        border: 2px solid black;
        border-radius: 20px;
        font-weight: bold;
        font-size: x-large;
    }
    /* MEDIA Tablet Size 786px */
    hr {
        width: 95%;
        height: 2px;
    }
}








/* MEDIA Desktop Size CSS CODING STARTS HERE - ANYTHING UNDER THIS MEDIA LINE WILL BE DISPLAYED ON DEVICES WITH A MINIMUM WIDTH RESOLUTION OF 786px */
@media (min-width: 1024px) {

    main {
        background-color: #000000;
    }
    main img {
        border: 20px solid #9e6a6a;
        margin: 2px;
        border-radius: 90px;
        width: 35%;
        height: 35%;
    }
    .container {
        display: block;
        padding: 1px;
        height: 95%;
        width: 95%;
        margin-left:auto;
        margin-right:auto;
    }
    .col {
        display: flex;
        border: 0px solid black;
        margin: auto;
        padding: 10px 10px;
        width:98%;
        height: 95%;
    }
    .lower {
        display: flex;
        border: 0px solid black;
    }
    .top {
        display: block;
        color:#000000;
        background-color: #000000;
        border: 1px solid #000000;
        text-align: center;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        margin-bottom: 10px;
        padding: 10px 10px;
    }
    .welcome {
        margin: auto;
    }
    body {
        background-color: #000000;
        margin-left: auto;
        margin-right: auto;
        height: 95%;
        width: 95%;
    }
    nav {
        background-color: #000000;
        padding: 1px 0;
    }
    /* Mobile Nav UL */
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #000000;
    }
    /* Mobile Nav LIST */
    nav li {
        display:inline-block;
    }
    /* Mobile Nav LIST Hyperlinks */
    nav li a {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        color: #ffffff;
        background-color: #000000;
        text-align: center;
        margin: 5px 0;
        font-size: 32px;
        text-decoration: none;
    }
    /* Mobile Nav LIST Hyperlink Hover color */
    nav li a:hover {
        color: #000000;
        background-color: #ffffff;
    }
    ul {
        padding: 5px;
        text-align: left;
    }
    li {
        padding: 5px;
    }
    img {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        height: 95%;
        width: 95%;
        }
    /* Global INTRO VIDEO - OCEAN2160.mp4 */
    video {
        display:block;
        width: 95%;
        height: 100px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000000;
        border-radius: 0%;
    }
    /* Global Container */
    #container {
        display: block;
        padding: 1px 2px;
        height: 95%;
        width: 95%;
        border: 10px solid #9e6a6a;
        margin-left:auto;
        margin-right:auto;
    }
    #welcome {
        padding: 2px;
        text-align: center;
        background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/CatoosaAdventure2.jpg);
        background-origin: content-box;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        height: 95%;
        width: 95%;
    }
    #lower {
        background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/TravelingLoveRamTough.jpg);
        background-origin: content-box;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #column1 {
        display: flex;
        color:#000000;
        background-color: #CFC1D6;
        border: 10px solid #9e6a6a;
        height: 33%;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 10px;
        border-radius: 30px;
        text-align: center;
    }
    #column2 {
        display: flex;
        color:#ff0000;
        background-color: #6696E0;
        border: 10px solid #9e6a6a;
        height: 33%;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 10px;
        border-radius: 30px;
        text-align: center;
    }
    #column3 {
        color:#ff0000;
        display: flex;
        background-color: #854158;
        border: 10px solid #9e6a6a;
        height: 33%;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 1px;
        border-radius: 30px;
        text-align: center;
    }
    #column4 {
        color:#ff0000;
        display: flex;
        background-color: #CFC1D6;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    #column5 {
        color:#ff0000;
        display: flex;
        background-color: #6696E0;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    #column6 {
        display: flex;
        color:#ff0000;
        background-color: #854158;
        border: 10px solid #9e6a6a;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 1px 0;
        border-radius: 30px;
        text-align: center;
    }
    #top {
        display: block;
        color:#000000;
        background-color: #000000;
        border: 1px solid #000000;
        text-align: center;
        height: 95%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        margin-bottom: 10px;
        padding: 10px 10px;
    }
    /* Global  Headings H1 H2 H3 */
    h1,h2,h3 {
        text-align: center;
          }
    h1 {
        color:#ffffff;
        color:#ffffff;
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 68px;
    }
    
    h2 {
        color:#ffffff;
        font-size: 48px;
    }
    h3 {
        color:#ffffff;
    }
    p {
        color:#ffffff;
        font-size: 32px;
        text-align: center;
    }
    a {
        color:#000000;
        padding: 2px;
        text-align: center;
        text-decoration: none;
    }
    a:hover {
        color: rgb(255, 0, 0);
        text-decoration: none;
    }
    footer {
        padding: 40px 0;
        text-align: center;
        color: #ffffff;
        font-size: 24px;
    }
    .button {
        display: block;
        margin: 5px auto;
        text-align: center;
        background-color: rgb(234, 132, 38);
        width: 75%;
        line-height: 40px;
        text-decoration: none;
        border: 2px solid black;
        border-radius: 20px;
        font-weight: bold;
        font-size: x-large;
    }
    hr {
        width: 95%;
        height: 2px;
    }
}