/* Global Styles */
img {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 70%;
    max-height: ;
    height: auto;
    border: #836554 4px solid;
    }
/* Global INTRO VIDEO - OCEAN2160.mp4 */
video {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
/* Global Container */
#container {
    display: flex;
    padding: 5px;
}
#lower {
    padding: 10px;
    width: 100%;
}
#column1 {
    flex: 1;
    color:#ff0000;
    background-color: #0d6102;
    border: 1px solid #a76565;
    width: 33.33%;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: center;
}
#column2 {
    flex: 1;
    color:#ffffff;
    background-color: #3f613a;
    padding: 10px;
    border: 1px solid #a76565;
    width: 33.33%;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
}
#column3 {
    flex: 1;
    color:#b31791;
    background-color: #0d6102;
    padding: 10px;
    border: 1px solid #a76565;
    width: 33.33%;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
}
#top {
    flex: 1;
    color:#ff00aa;
    background-color: #ff00d4;
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
}
#welcome {
    flex: 1;
    color:#ff0000;
    background-color: #9e6a6a;
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
    background-size: contain;
}
main img {
    margin: auto;
    width: 60%;
    height: auto;
    border-radius: 2px;
}
/* Global  Headings H1 H2 H3 */
h1,h2,h3 {
    text-align: center;
}
h1 {
    color:#ffffff;
}
h2 {
    color:#ffffff;
}
h3 {
    color:#ffffff;
}
p {
    color:#ffffff;
    font-size: 16px;
    text-align: center;
}
/* Global  Hyperlinks */
a {
    color:#0d6102;
    padding: 2px;
    text-align: center;
}
/* Global  Hyperlink colors */
a:hover {
    color: rgb(0, 4, 255);
    text-decoration: none;
}
footer {
    padding: 40px 0;
    text-align: center;
    color: #ffffff;
}

/* Mobile Styles */

nav {
    display: flex;
    margin: 20% 1;
    text-align: center;
}
/* Mobile Nav UL */
nav ul {
    list-style: none;
    padding: 1;
    margin: auto;
    text-align: center;
}
/* Mobile Nav LIST */
nav li {
    display: inline-block;
    text-align: center;
}
/* Mobile Nav LIST Hyperlinks */
nav li a {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}
/* Mobile Nav LIST Hyperlink Hover color */
nav li a:hover {
    color: #000000;
    background-color: #ffffff;
}
.button {
    display: block;
    margin: 5px auto;
    text-align: center;
    background-color: rgb(234, 132, 38);
    width: 125px;
    height: 60px;
    line-height: 20px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-size: larger;
}
hr {
    width: 100%;
    height: 2px;
}







/* MEDIA Desktop PCs CSS CODING STARTS HERE - ANYTHING UNDER THIS MEDIA LINE WILL BE DISPLAYED ON DEVICES WITH A MINIMUM WIDTH RESOLUTION OF 1024px */
@media (min-width: 1024px) {
    body {
        background-color: #000000;
    }
/* Desktop lower three columns */
   #lower {
    margin: 10px auto;
    display: flex;
    width: 95%;
    padding: 1px auto;
    }
    .container {
    display: flex;
    background-color: #000;
    }
    #column1 {
    display: flex;
    background-color: #e6adee;
    width: 33.33%;
    height: auto;
    border: 10px solid #000;
    }
    #column2 {
    display: flex;
    background-color: #00ff40;
    width: 33.33%;
    height: auto;
    border: 10px solid #000;
    }
    #column3 {
    display: flex;
    background-color: #ffa600;
    padding: 10px 10px;
    width: 33.33%;
    height: auto;
    border: 10px solid #000;
    }
    #top {
        background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/TravelingLoveRamTough.jpg);
        background-attachment: scroll;
        width:100%;
        }
    }
    .lower {
        display: flex;
        background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/TravelingLoveRamTough.jpg);
        background-size: cover;
        background-attachment: scroll;
        background-origin: content-box;
        background-repeat: no-repeat;
        width:99%;
        }
    #welcome {
        flex: 1;
        padding: 10px;
        border: 1px solid #000000;
        text-align: center;
        background-image: url(https://jthesser.github.io/CITC-1300-N02/final_project/images/CatoosaAdventure.jpg);
        width="100%"
        max-width: 100%;
        background-origin: content-box;
        background-size: contain;
        background-repeat: no-repeat;

        width: 99%;
    }
    main img {
        margin: auto; 0;
        width: 20%;
        border-radius: 200px;
        border-color:#9e6a6a
    
        
    }