/* Global Styles */

body {
    background-color: #000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

a {
    color:whitesmoke;
    padding: 2px;
}

a:hover {
    color: #F29E6D;
    text-decoration: none;
}

#container {
    background-color: #854158;
    width: 90%;
    margin: 20px auto;
}

/* Desktop Styles */

nav {
    background-color:#000;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    color: aqua;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;

}

nav li a:hover {
    color: white;
}

header h1 {
    text-align: center;
    font-size: 50px;
}


h1 {
    color: #F29E6D;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: #F2856D;
    text-align: center;
    font-size: 35px;
}

h3 {
    color:#F2856D;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

p {
    margin-left: 20px;
    font-size: 24px;
    text-align: center;
}

main {
    padding: 20px;
}

main img {
    display: block;
    width: 70%;
    border: 5px solid  #F2856D;
    border-color: #F29E6D;
}

#lower {
    display: flex;
}

.col {
    padding: 10px 10px;
    margin: 10px 10px;
    border: 2px solid #F2856D;
    width: 33.33%;
    border-radius: 30px;  
}

.col img {
    border-radius: 20px;
    padding: 20px auto;
    border: 3px solid  #F2856D;
    border-color: #F29E6D;
}

footer {
    padding: 40px 0;
    text-align: center;
}

hr {
    width: 90%;
    height: 2px;
}