/* Global Styles */
img {
    display: block;
    margin: 0 auto;
    width: 95%;
    border: #F29E6D 4px solid;
    }
/* Global Body */
body {
    background-color: #F29E6D;
}

/* Global Container */
#container {
    padding: 5px;
    background-color:#facada;
}
/* Global  Headings H1 H2 H3 */
h1,h2,h3 {
    text-align: center;
}
/* Global  Hyperlinks */
a {
    color:#0d6102;
    padding: 2px;
    text-align: left;
}
/* Global  Hyperlink colors */
a:hover {
    color: red;
    text-decoration: none;
}
footer {
    padding: 40px 0;
    text-align: center;
}



/* Mobile Styles - Default Styles */
nav {
    background-color: #854158;
    padding: 1px;
}
/* Mobile Nav UL */
nav ul {
    list-style: none;
    padding: 0;
}
/* Mobile Nav LIST */
nav li {
    display:block;
}
/* Mobile Nav LIST Hyperlinks */
nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #0d6102;
    background-color: #F29E6D;
    text-align: center;
    margin: 5px 0;
    font-size 20px;
    text-decoration: none;
}
/* Mobile Nav LIST Hyperlink Hover color */
nav li a:hover {
    color: #ff0000;
    background-color: #ffee00;
}
/* Mobile Nav Bottom of page navigation */
nav2 {
    padding: 1px;
}
/* Mobile Nav UL */
nav2 ul {
    list-style: none;
    padding: 0;
}
/* Mobile Nav LIST */
nav2 li {
    display:block;
}
/* Mobile Nav LIST Hyperlinks */
nav2 li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #0d6102;
    background-color: #F29E6D;
    text-align: center;
    margin: 5px 0;
    font-size 20px;
    text-decoration: none;
}
/* Mobile Nav LIST Hyperlink Hover color */
nav2 li a:hover {
    color: #ff0000;
    background-color: #ffee00;
}
/* Mobile Nav headers H1 H2 H3 */
h1, h2, h3 {
    text-align: center;
    padding: 10px;
}
/* Mobile Nav headers H1 only */
header h1 {
    font-size: 35px;
    color:#854158;
}
/* Mobile Nav headers H2 only */
h2 {
    font-size: 30px;
    color: #301d1d;
}
/* Mobile Nav headers H3 only */
h3 {
    font-size: 25px;
    color:#854158;
}
/* Mobile Nav headers paragraph */
p {
    text-align: center;
}
/* Mobile Nav main */
main {
    padding: 10px;
    margin: 10px 0;
}
main img {
    border: 10px solid #F29E6D;
}
/* Mobile Nav lower */
#lower {
    padding: 10px;
}
/* Mobile Nav calling the columns */
.col {
    border: 3px solid black;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 90px;
}
/* Mobile Nav footer */
footer {
    padding: 20px 0;
    text-align: left;
}
/* Mobile Nav button */
.button {
    display: block;
    margin: 5px auto;
    text-align: center;
    background-color: rgb(234, 132, 38);
    width: 125px;
    height: 60px;
    line-height: 20px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-size: larger;
}
/* Mobile Nav ul */
ul {
    text-align: left;
}
/* Mobile Nav horizontal rule */
hr {
    width: 100%;
    height: 2px;
}
/* Mobile Nav Lists */
li {
margin: 10px 0;
}



/* MEDIA Tablet CSS CODING STARTS HERE - ANYTHING UNDER THIS MEDIA LINE WILL BE DISPLAYED ON DEVICES WITH A MINIMUM WIDTH RESOLUTION OF 786px */
@media (min-width: 786px) {
    nav {
        text-align: center;
        display:block;
        background-color: #0d6102
    }
    /* Tablet Nav Lists */
    nav li {
        display: inline-block;
    }
    /* Tablet Nav List hyperlinks */
    nav li a {
        width: 200px;
    }
    /* Tablet lower columns - 3 column layout */
    #lower {
        width: 99%;
        display: flex;
    }
    /* Tablet H3 a different size */
    h3 {
        font-size: 16px;
    }


/* MEDIA Desktop PCs CSS CODING STARTS HERE - ANYTHING UNDER THIS MEDIA LINE WILL BE DISPLAYED ON DEVICES WITH A MINIMUM WIDTH RESOLUTION OF 1024px */

@media (min-width: 1024px) {

    nav {
        text-align: center;
        display:block;
        background-color: #0d6102
    }
    /*  Desktop Nav Lists */
    nav li {
        display: inline-block;
    }
    /*  Desktop lower columns - 3 column layout */
    #lower {
        width: 99%;
        display: flex;
    }
    /*  Desktop H3 a different size */
    h3 {
        font-size: 16px;
        font-style: italic;
    }
        /* Desktop lower three columns */
    #lower {
        width: 90%
        display: flex;
    }
}
/* Desktop PC Settings */
.col {
    border: 2px solid black;
    margin: 12px;
    padding: 10px 10px;
    border-radius: 30px;
}
/* Desktop PC Settings */
.col img {
    border-radius: 50px;
    padding: 2px;
    border: 3px solid  #F2856D;
    border-color: #F29E6D;
    width: 99%
    margin: 10px;
}
/* Desktop PC Settings */
img {
    border-radius: 600px;
}
/* Desktop PC Settings */
footer {
    padding: 40px 0;
    text-align: center;
}
/* Desktop PC Settings */
hr {
    width: 90%;
    height: 2px;
}
/* Desktop PC Settings */
.button {
    display:block;
background-color: #F29E6D;
width: 150px;
height: 60px;
color: white;
text-decoration: none;
text-align: center;
line-height: 20px;
margin-top: 10px;
border-radius: 20px;
margin-left: auto;
margin-right: auto;
}
/* Desktop PC Settings */
.button:hover {
    color: #f26d6d;
    background-color: #ffee00;
}
/* Desktop PC Settings */
main {
    padding: 20px;
    margin: 5px 0;
}
h2 {
    color: red;
}
h3 {
    font-size: x-large;
}
p {
    font-size: 24px;
}
main img {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    border: #F29E6D 6px solid;
    }