body {
    background-color:#432D73;
}

#container {
    background-color: white;
    padding: 5px;
    width: 75%;
    margin: 0 auto;
    border: 10px solid #D9BAC6;
}

header h1 {
    text-align: center;
    font-size: 50px;
    color: #432D73;
    text-shadow: 1px 1px 1px #000;
}

nav {
    text-align: center;
}

nav a {
    color: #432D73;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin: 10 50px;
}

nav a:hover {
    color:#000;
    text-decoration: none;
}

a :hover {
    color: #000;
    text-decoration: none;
}

main img {
    display: block;
    width: 50%;  
    margin: 20px auto;
}

footer {
    padding: 40px 0;
    text-align: center;
}